{% extends "base.njk" %}
{% block content %}
    <div class="container-sm">
        <div class="row justify-content-center py-5">
            <div class="col p-5 bg-light rounded-3" style="max-width: 450px;">
                <h1>Log in
                </h1>
                {% if (error) %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
                <form action="/login" method="POST">
                    <div class="mb-3">
                        <label for="inputUsername" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="inputUsername">
                            <div id="emailHelp" class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="inputPassword"></div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                            <a href="/register" role="button" class="btn btn-secondary" id="registerButton">Register</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}