{% extends "base.njk" %}
{% block content %}
    <div class="container py-5">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1>Log in
            </h1>
            {% if (error) %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="inputUsername">
                        <div id="emailHelp" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="inputPassword"></div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <div class="mb-3">
                            No account?
                            <a href="/register" role="button" class="btn btn-secondary" id="registerButton">Register</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}